.view-invoice-card-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #C9D6E1;
  min-height: 100vh;
  min-width: 800px;
}

.view-invoice-title{
  display: flex;
  justify-content: center;
}

.view-invoice-card-body{
  padding: 15px 0px;
}

.view-invoice-card-item {
  display: flex;
  margin: 35px 0px;
}

.multiple-items{
  display: grid;
  grid-template-columns: 35% 10% 20% 10% 10% 15%;
}

.multiple-items-results{
  display: grid;
  margin-top: 20px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.view-invoice-card-footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .view-invoice-card-container {
    min-width: 200px;
  }
  .view-invoice-card-container .card-content {
    padding: 15px;
  }
  .view-invoice-card-container button {
    padding: 15px;
    margin-right: 10px;
  }
}