.navbar-container {
  background-color: #0D658B;
  padding: 15px 35px;
  color: #FFFFFF;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
  border-radius: 0px 0px 7px 7px;

}
.navbar-options{
  display: flex;
  flex-direction: row;
}

.instructions-container{
  margin-right: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.instructions-container:hover{
  text-decoration: underline;
}

.instructions-container span{
  margin-right: 10px;
}

.navbar-question-icon{
  font-size: 20px;
  position: relative;
  top: 3px;
}

.navbar-title {
  font-size: 24px;
  cursor: pointer;
}

.navbar-user-container {
  display: flex;
  gap: 25px;
  align-items: center;
  cursor: pointer;
}

.navbar-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.navbar-user-info-cuit {
  font-size: 15px;
}

.navbar-user-icon {
  color: #0D658B;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 25px;
}

.modal-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.041);
  height: 100%;
  width: 100vw;
  z-index: 0;
}

.payment-required{
  height: 30px;
  background-color: rgb(193, 3, 3);
  color: white;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .instructions-container{
    display: none;
  }
  .navbar-container {
    padding: 15px 15px;
  }
  .navbar-title {
    font-size: 16px;
  }
}