.pdf-download{
font-family: Arial, Helvetica, sans-serif;
width: 447px;
padding: 5px;
}

.pdf-download .borderDiv{
border: 1px solid black;
}

.pdf-download .originalLabel{
font-weight: bold;
font-size: 12px;
display: flex;
display: -webkit-flex;
justify-content: center;
-webkit-justify-content: center;
align-items: center;
padding: 10px;
}

.pdf-download .invoiceTypeContainer{
font-weight: bold;
border: 1px solid black;
padding: 10px 5px;
position: absolute;
text-align: center;
top: -3;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
width: 90px;
background-color: white;
border-top: 2px solid black;
}

.pdf-download .invoiceType{
font-size: 20px;
}

.pdf-download .invoiceHeaderContent{
width: 50%;
padding: 80px 5px 5px 0px;
display: grid;
grid-template-rows: 15% 85%;
border: 1px solid black;
}

.pdf-download .fromName{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    height: 20px;
    margin-left: 20px;
    text-align: center;
}

.pdf-download .label {
font-weight: bold;
}

.pdf-download .label .data{
font-weight: lighter;
}

.pdf-download .inf {
padding-left: 15px;
display: flex;
display: -webkit-flex;
line-height: 16px;
flex-direction: column;
-webkit-flex-direction: column;
flex-flow: column;
-webkit-flex-flow: column;
font-size: 10px;
padding-top: 20px;
}

.pdf-download .invoiceHeaderContainer{
    display: flex;
    display: -webkit-flex;
    position: relative;
}

.pdf-download .periodContainer{
    padding: 5px;
    padding-left: 12px;
    line-height: 16px;
    font-size: 10px;
    display: flex;
    gap: 40px;
    display: -webkit-flex;
}
.cuit-data {
    padding: 10px 0px;
}
.pdf-download .cuit-data .label{
    min-width: 50%;
    text-align: left;
    font-size: 10px;
}


.pdf-download .destinataryInfoContainer{
    display: flex;
    display: -webkit-flex;
    padding: 0px 10px;
    gap: 10px;
}

.pdf-download .tableContainer{
max-height: 200px;
}

.pdf-download table{
    width: 99%;
    text-align: right;
    font-size: 10px;
}

.pdf-download table thead tr th {
outline: 1px solid black;
padding: 5px 5px;
background-color: rgb(201, 201, 201);
}

.pdf-download table tbody tr td{
padding-top: 10px 10px;
}

.pdf-download .invoiceTotal{
    padding: 10px;
    text-align: right;
    font-size: 10px;
}

.vat-types{
    display: grid;
    grid-template-columns: 85% 15%;
}
