.labelvalue-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelvalue-label{
  color: #5C89A7;
  font-weight: bold;
  font-size: 18px;
  line-height: 45px;
}

.labelvalue-value{
  font-weight: bold;
  line-height: 30px;
  margin-left: 15px;
}
